<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>让网络管理更轻松 | Yokena</title>  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no">
  <meta name="keyword" content="云网关,网络管理系统,用户网络控制">
  <meta name="description" content="YOKENA为创客空间提供云网络管理系统，划分虚拟网络，人员接入控制管理，Wi-Fi接入认证管理。">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script src="/static/js/cusfullpage.js"></script>
</head>
<body>
<div id="app"></div>
<script src="/static/js/bundlehomepage.js"></script>

</body>
</html>
